* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: lightgrey;
}

/* tutto dell'header */
header {
    padding: 10px;
    background-color: white;
}

img {
    vertical-align: bottom;
}

.titolo-header {
    display: inline-block;
    font-size: 40px;
}

/* main */
.contenitore-nav {
    width: 80%;
    margin: 0 auto;
    padding-left: 40px;
    padding-bottom: 5px;
    background-color: white;
    border-radius: 3px;
    border: 1px solid lightgray;
    margin-top: 40px;
    
}

.contenitore-ul {
    width: 80%;
    margin: 0 auto;
    padding-left: 40px;
    padding-bottom: 5px;
    background-color: white;
    border-radius: 3px;
    border: 1px solid lightgray;

    
}

section ul {
    margin-top: 0 auto;
}

nav > div {
    display: inline-block;
    width: auto;
    height: auto;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
}

nav {
    padding-top: 10px;
    
}

#bottone-blu {
    background-color: rgb(29, 153, 241);
    color: white;
}

#bottone-bianco {
    border: 1px solid gray;
    color: gray;
}

/* Lista */
ul li {
    list-style: none;
    margin: 15px 0;
}

li:before {
    content: "\25bc";
}

.editorial {
    background-color: rgb(29, 153, 241);
    color: white;
    border-radius: 10px;
    padding: 5px;
}


.Q1-goals {
    background-color: #8800e3;
    color: white;
    border-radius: 10px;
    padding: 5px;
}

.recruiting {
    background-color: #00ad5f;
    color: white;
    border-radius: 10px;
    padding: 5px;
}

.check {
    border: 1px solid green;
    color: green;
    border-radius: 100%;
}

.null {
    border: 1px solid red;
    color: red;
    border-radius: 100%;
}

.testo{
    margin: 0 10px;
}

.riga{
    margin: 15px 0;
}